<h1 class='game-heading'>Quintilianus Vocabulary Study Tool</h1>
<% session[:test] = 'testdata' %>
<% cookies[:wordstuff] = params[:word][:chapterID] %>
<% if session[:words_parameters] %>
    <%= session[:words_parameters] %>
    <%  text = ''
        chapid = ''
        if session[:word_params]
            Textbook.all do |t|
                if t.name == session[:word_params][:textbook]
                    text = t.name
                end
            end
            t.chapters.all do |c|
                if c.name == session[:word_params][:chapter].to_i
                    chapid = c.id
                end
            end
        end
        session[:chapID] = chapid
        puts "vaira2"
        puts text
        puts session[:chapID]%>
<% end %>
<% if params[:word] %>
    <% Textbook.all.each do |text| %>
        <% if text.name == params[:word][:textbook] %>
            <% text.chapters.each do |chap| %>
                <% if chap.name == params[:word][:chapter].to_i %>
                    <% cookies[:chapterid] = chap.id %>
                <%end%>
            <%end%>
        <%end%>
    <%end%>
<%end%>

<div>
    <div>
        <h2>Choose Words to Study:</h2>
        <form action = "/vocabbuilder" accept-charset="UTF-8" method = "get">
            <input type="hidden" name="authenticity_token" value="...">

            <%
=begin%>
 <div>
                <label for = "word_pos">Part of speech</lable><br>
                <select type = 'text' name = 'word[pos]' id = 'word_pos'>
                    <option value = 'all' >All</option>
                    <option value = 'noun' >Noun</option>
                    <option value = 'verb' >Verb</option>
                    <option value = 'preposition' >Preposition</option>
                    <option value = 'adjective' >Adjective</option>
                    <option value = 'adverb' >Adverb</option>
                    <option value = 'conjunction' >Conjunction</option>
                    <option value = 'interjection' >Interjection</option>
                </select>
            </div> 
<%
=end%>
            <div>
                <label for = "word_textbook">Textbook</lable><br>
                <select type = 'text' name = 'word[textbook]' id = 'word_textbook'>
                    <option value='all'>All Textbooks</option>
                    <% Textbook.all.each do |t| %>
                        <option value='<%=t.name %>'><%=t.name%></option>
                    <%end%>
                </select>
            </div>
            <div>
                <label for = "word_chapter">Chapter</lable><br>
                <input type = "text" name = "word[chapter]" id='word_chapter'>
            </div>

            <div>
                <input type="submit" name = "commit" value = "Update Study List" data-disable-with="Create Textbook">
            </div>
        </form>
    </div>

    <div>
        <%= javascript_pack_tag 'vocabbuilder' %>
    </div>

</div>

