<div class = 'd-flex align-items-center justify-content-center'>
    <div class='SPQR-bar'>
        <h1 style='font-family: "Times New Roman"'><strong>SPQR</strong></h1>

    </div>
</div>
<div class = 'main-content'> 
    <div class='main-left'>
        <h2>Salvete omnes!</h2>
        <%= image_tag ("quintilianus.jpeg"), class: "img-responsive"%>
        <p>Welcome to Quintilianus, the online platform for learning and studying Latin with a community of other committed learners!</p>
        <p>Check out our games and language study tools. If you work hard, you can earn pecunia and rise through the ranks on the leaderboard.</p>
    </div>
    <div class='main-right'>
        <h2>Quid novum est?</h2>
        <p>Try out Verble, our new Latin version of Wordle.</p>
        <%= image_tag ("verble2.png"), class: "img-responsive"%>
    </div>
</div>

