<div class = 'd-flex align-items-center justify-content-center'>
    <h1>Salvete omnes! Welcome to Quintilianus!</h1>
</div>
<div class = 'main-content'> 
    <%= image_tag ("/assets/quintilianus.jpeg"), class: "img-responsive"%>
</div>
