<h1>Add New Textbook</h1>
<form action = "/textbook/create" accept-charset="UTF-8" method = "post">
    <input type="hidden" name="authenticity_token" value="...">

    <div>
        <label for = "textbook_name">Textbook Title</lable><br>
        <input type = "text" name = "textbook[name]" id='textbook_name'>
    </div>

</form>