<h4>Salve, <%= params[:user].email %>,</h4>

<p>Someone requested a reset to your password. </p>

<p>If this was you, click the link below to reset your password. The link will expire in 15 minutes. </p>

<%= link_to "Reset password", password_reset_edit_url(token: @token) %>

<p>Vale,</p>
<p>Qintilianus</p>