<h1>Frequently Asked Questions</h1>
<ol>
    <li>
        <strong>Why doesn't anything load when I try to play Verble or use the Vocabulary Builder tool?</strong>
        <br>Refresh the page. This problem is due to a quirk in how I designed and embedded Verble and the Vocab Builder.</br>
    </li>
    <li>
        <strong>Does Quintilianus support mobile devices?</strong>
        <br>No.</br>  
    </li>
    <li>
        <strong>Can I make an account if I am not a member of the Bedford Area School District community?</strong>
        <br>Not currently, but I hope to expand availability before the end of the 2022-2023 school year.</br>
    </li>
</ol>