<h1>About Quintilianus</h1>
<p>TEST</p>
<p>Quintilianus is an online platform for learning Latin.</p>
<p>Make an <%= link_to "account", sign_up_path%> to log your progress by earning more and more pecunia. Pecunia is the Latin word for money and is used as the point system on Quintilianus. The main unit of pecunia is the "denarius."</p>
<p>Quintilianus is named for the great Roman teacher, Quintilian, about whom you can read more <a href = https://en.wikipedia.org/wiki/Quintilian>here</a>.